# The lombok documentation recommends putting this at the root of the project so that lombok doesn't look for
# configuration outside of the project.
config.stopBubbling = true

# Adding makes the constructor produced by @AllArgsConstructor usable by Jackson
lombok.anyConstructor.addConstructorProperties=true

lombok.equalsAndHashCode.callSuper=call